In [1]:
import os, re
import re, datetime
import pandas as pd 
import numpy as np

In [2]:
get_data_path = lambda folders, fname: os.path.normpath(os.environ['DATA_PATH']+'/'+'/'.join(folders) +'/'+ fname)
get_tables_path = lambda fname: os.path.normpath('../local_data/processed_data/'+ fname)

In [3]:
# Breast Cancer 2016
file_brca_2016_RNASeq = get_data_path(['transcriptomics_data'], 'TCGA_BRCA_RNAseq_RSEM_log2.cct')

# Ovarian Cancer 2016 
file_ovca_2016_RNASeq =  get_data_path(['transcriptomics_data'], 'TCGA_OV_RNAseq_RSEM_log2.cct')

# PDAC 
file_pdac_RNASeq = get_data_path(['transcriptomics_data'], 'CPTAC_PDAC_mRNA_RSEM_UQ_log2_Tumor.cct')

# BrCa 2020
file_brca_2020_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_BRCA_2018_RNA_GENE.cct')

# OvCa 2020
file_ovca_2020_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_OV_rnaseq_fpkm_log2.cct')

# ccRCC
file_ccrcc_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_CCRCC_RNAseq_fpkm_log2_Tumor.cct')

# Luad
file_luad_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_LUAD_rnaseq_uq_rpkm_log2_NArm_TUMOR.cct')

# LSCC
file_lscc_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_LSCC_2020_rnaseq_uq_fpkm_log2_NArm_TUMOR.cct')

# Endometrium
file_endo_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_UCEC_RNAseq_RSEM_UQ_log2_Tumor.cct')

# GBM
file_gbm_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_GBM_rnaseq_fpkm_uq_log2.cct')

# HNSCC
file_hnscc_RNASeq =  get_data_path(['transcriptomics_data'], 'HS_CPTAC_HNSCC_RNAseq_RSEM_UQ_log2_Tumor.cct')

file_protein_coding_genes = get_data_path(['hgnc_22Feb2022'], 'approved_protein_coding_genes.txt')
file_cptac_samples_info = get_tables_path('CPTAC_sample_info.parquet')

In [4]:
ovca_2016_transcriptomics = pd.read_csv(file_ovca_2016_RNASeq, sep="\t", low_memory=False, index_col=0)
ovca_2016_transcriptomics = ovca_2016_transcriptomics.rename(columns=lambda x: re.sub('\.','-',x))
print('Dimensions: ', ovca_2016_transcriptomics.shape)
ovca_2016_transcriptomics[:2]

Dimensions:  (20032, 303)

,TCGA-04-1348,TCGA-04-1357,TCGA-04-1362,TCGA-04-1364,TCGA-04-1365,TCGA-04-1514,TCGA-04-1519,TCGA-09-0364,TCGA-09-0366,TCGA-09-0367,...,TCGA-61-2102,TCGA-61-2104,TCGA-61-2109,TCGA-61-2110,TCGA-61-2111,TCGA-61-2113,TCGA-OY-A56P,TCGA-OY-A56Q,TCGA-VG-A8LO,TCGA-WR-A838
attrib_name,,,,,,,,,,,,,,,,,,,,,
A1BG,6.0762,6.0567,5.4142,7.5549,4.6398,5.0795,5.565,7.3563,6.4847,7.5979,...,6.0157,6.646,5.299,7.1433,6.5806,6.1586,5.4651,5.1163,4.856,4.1051
A1CF,0.0000,0.0000,0.4125,0.0000,0.0000,0.0000,0.000,0.9286,0.0000,0.0000,...,0.0000,0.000,0.000,1.5389,0.0000,0.0000,0.0000,0.0000,0.000,0.0000

In [5]:
ovca_2020_transcriptomics = pd.read_csv(file_ovca_2020_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', ovca_2020_transcriptomics.shape)
ovca_2020_transcriptomics[:2]

Dimensions:  (22014, 82)

,01OV007,01OV017,01OV018,01OV023,01OV026,01OV030,01OV039,01OV041,01OV047,02OV005,...,17OV036,17OV039,17OV040,18OV001,20OV005,26OV002,26OV008,26OV009,26OV011,26OV013
gene,,,,,,,,,,,,,,,,,,,,,
RPL30,11.447238,10.714563,10.996855,11.539803,11.112009,11.718499,10.097927,11.560767,11.278403,11.179175,...,11.278432,10.872406,10.581841,12.153188,13.599924,10.915020,11.299357,8.930867,10.522268,12.126001
TMSB10,11.450227,10.810274,11.357387,11.994311,10.134093,10.212472,10.105516,10.775413,12.057978,10.329011,...,11.152849,10.933624,11.172115,10.922986,9.863482,10.342075,11.571520,10.549611,10.781433,11.385399

In [6]:
brca_2016_transcriptomics = pd.read_csv(file_brca_2016_RNASeq, sep="\t", low_memory=False, index_col=0)
brca_2016_transcriptomics = brca_2016_transcriptomics.rename(columns=lambda x: re.sub('\.','-',x))
print('Dimensions: ', brca_2016_transcriptomics.shape)
brca_2016_transcriptomics[:2]

Dimensions:  (20155, 1093)

,TCGA-3C-AAAU,TCGA-3C-AALI,TCGA-3C-AALJ,TCGA-3C-AALK,TCGA-4H-AAAK,TCGA-5L-AAT0,TCGA-5L-AAT1,TCGA-5T-A9QA,TCGA-A1-A0SB,TCGA-A1-A0SD,...,TCGA-UL-AAZ6,TCGA-UU-A93S,TCGA-V7-A7HQ,TCGA-W8-A86G,TCGA-WT-AB41,TCGA-WT-AB44,TCGA-XX-A899,TCGA-XX-A89A,TCGA-Z7-A8R5,TCGA-Z7-A8R6
attrib_name,,,,,,,,,,,,,,,,,,,,,
A1BG,7.63,7.8971,8.7287,7.5851,8.0762,7.6779,7.7299,8.3001,5.6496,7.1629,...,5.4968,8.3353,10.0127,9.0608,6.9166,8.8835,7.8088,8.0008,8.7831,7.9619
A1CF,0.00,0.0000,0.9310,0.0000,0.5115,0.0000,0.0000,0.6069,0.0000,0.0000,...,0.4846,0.0000,0.0000,0.5603,0.0000,0.0000,0.0000,1.7492,0.0000,0.0000

In [7]:
brca_2020_transcriptomics = pd.read_csv(file_brca_2020_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', brca_2020_transcriptomics.shape)
brca_2020_transcriptomics[:2]

Dimensions:  (23121, 122)

,CPT000814,CPT001846,X01BR001,X01BR008,X01BR009,X01BR010,X01BR015,X01BR017,X01BR018,X01BR020,...,X20BR002,X20BR005,X20BR006,X20BR007,X20BR008,X21BR001,X21BR002,X21BR010,X22BR005,X22BR006
IDX,,,,,,,,,,,,,,,,,,,,,
A1BG,-0.1376,1.1669,-0.5470,-1.1991,0.7322,-0.5071,-0.0808,-3.5958,-2.5947,NaN,...,3.2080,NaN,NaN,NaN,NaN,0.0983,NaN,-1.8883,-3.8105,-2.2787
A1BG-AS1,0.4228,0.6007,1.3821,0.3955,1.6179,0.5569,1.4780,-2.6015,-0.4866,NaN,...,0.2525,0.0429,-0.6183,-1.0031,-0.3125,0.3047,NaN,-0.5348,-1.2389,-0.3356

In [8]:
pdac_transcriptomics = pd.read_csv(file_pdac_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', pdac_transcriptomics.shape)
pdac_transcriptomics[:2]

Dimensions:  (28057, 140)

,C3L-03394,C3N-03428,C3L-02112,C3N-01719,C3N-03670,C3N-02998,C3N-03211,C3L-01052,C3N-00512,C3N-02295,...,C3L-01031,C3N-01167,C3L-01971,C3L-02604,C3L-00277,C3L-01328,C3L-03639,C3N-04282,C3L-04072,C3L-02613
A1BG,6.692021,6.355394,7.369336,5.837855,6.273016,5.830226,6.233734,7.733062,6.940000,6.912359,...,6.653944,6.335488,6.692975,5.487724,5.832438,5.165238,4.696418,6.159660,4.631532,5.574783
A1BG-AS1,7.525181,6.976172,6.951589,6.389844,6.824514,6.014028,5.901466,7.079053,6.497582,6.951346,...,6.434122,5.755125,6.358555,5.442385,4.163636,4.850363,4.589423,6.123135,5.181857,5.145694

In [9]:
ccrcc_transcriptomics = pd.read_csv(file_ccrcc_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', ccrcc_transcriptomics.shape)
ccrcc_transcriptomics[:2]

Dimensions:  (19275, 110)

,C3L-00004,C3L-00010,C3L-00011,C3L-00026,C3L-00079,C3L-00088,C3L-00096,C3L-00097,C3L-00103,C3L-00183,...,C3N-01220,C3N-01261,C3N-01361,C3N-01522,C3N-01524,C3N-01646,C3N-01648,C3N-01649,C3N-01651,C3N-01808
gene,,,,,,,,,,,,,,,,,,,,,
A1BG,0.996632,0.747946,0.437812,1.825287,2.420942,1.080150,1.392151,1.042785,1.198064,1.064449,...,1.263138,1.232354,1.839327,0.735241,2.452102,1.934826,3.001529,1.683900,1.181451,0.928671
A1CF,4.143869,4.144268,0.316847,4.116659,2.550644,3.873269,3.187020,2.470223,1.512692,2.866556,...,0.281726,2.814333,2.143061,3.388332,3.196237,1.895352,0.026116,1.695002,3.839112,3.713474

In [10]:
luad_transcriptomics = pd.read_csv(file_luad_RNASeq, sep="\t", low_memory=False, index_col=0)
luad_transcriptomics = luad_transcriptomics.rename(columns=lambda x: re.sub('\.','-',x))
print('Dimensions: ', luad_transcriptomics.shape)
luad_transcriptomics[:2]

Dimensions:  (18099, 110)

,C3N-02149,C3N-02087,C3L-00368,C3N-00551,C3L-01890,C3N-01799,C3N-01405,C3L-00412,C3N-00579,C3N-01488,...,C3N-00704,C3N-00556,C3N-02145,C3L-01862,C3N-02003,C3N-01030,C3N-02582,C3N-01023,C3L-00913,X11LU016
GeneSymbol,,,,,,,,,,,,,,,,,,,,,
SAMD11,-0.1900,-0.3648,1.2794,0.6600,1.3326,0.8861,-1.7427,0.5316,-0.4434,0.4309,...,0.7019,-1.3065,1.1131,0.4886,-0.3851,-1.3669,0.2650,-0.8245,1.3534,-0.8606
KLHL17,1.7778,1.4129,1.7955,2.2253,1.7632,1.7163,2.3400,1.0251,1.1474,2.2060,...,1.5096,1.8958,1.6571,1.8208,1.7225,2.0654,0.9157,1.6003,2.3592,1.9440

In [11]:
lscc_transcriptomics = pd.read_csv(file_lscc_RNASeq, sep="\t", low_memory=False, index_col=0)
lscc_transcriptomics = lscc_transcriptomics.rename(columns=lambda x: re.sub('\.','-',x))
print('Dimensions: ', lscc_transcriptomics.shape)
lscc_transcriptomics[:2]

Dimensions:  (21792, 108)

,C3L-00081,C3L-00415,C3L-00445,C3L-00568,C3L-00603,C3L-00904,C3L-00923,C3L-00927,C3L-00965,C3L-00993,...,C3N-03851,C3N-03875,C3N-03877,C3N-03880,C3N-03882,C3N-03886,C3N-04124,C3N-04127,C3N-04155,C3N-04162
id,,,,,,,,,,,,,,,,,,,,,
A1BG,8.0794,NaN,11.0097,12.0066,11.5960,9.6925,10.6348,11.0680,10.1981,10.0640,...,11.2324,8.5435,11.5700,11.0690,9.6779,9.2094,9.7054,9.8331,NaN,11.1143
A1BG-AS1,14.0427,14.0144,15.5598,14.9972,15.1961,15.3626,15.4914,16.4127,15.3478,15.5591,...,15.9274,14.9708,15.5906,14.9418,13.6794,14.1221,15.2347,15.7458,13.1314,14.7939

In [12]:
endo_transcriptomics = pd.read_csv(file_endo_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', endo_transcriptomics.shape)
endo_transcriptomics[:2]

Dimensions:  (28057, 95)

,C3L-00006,C3L-00008,C3L-00032,C3L-00090,C3L-00098,C3L-00136,C3L-00137,C3L-00139,C3L-00143,C3L-00145,...,C3N-01219,C3N-01267,C3N-01346,C3N-01349,C3N-01510,C3N-01520,C3N-01521,C3N-01537,C3N-01802,C3N-01825
idx,,,,,,,,,,,,,,,,,,,,,
A1BG,4.02,4.81,6.24,5.31,9.84,5.03,3.17,6.03,6.02,5.71,...,5.34,5.22,5.63,7.63,4.85,4.84,4.80,5.95,5.25,6.79
A1BG-AS1,2.16,2.21,6.43,4.87,8.83,5.59,3.56,5.46,5.90,5.43,...,5.77,5.50,6.89,7.54,3.44,4.95,5.02,5.92,5.97,6.72

In [13]:
gbm_transcriptomics = pd.read_csv(file_gbm_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', gbm_transcriptomics.shape)
gbm_transcriptomics[:2]

Dimensions:  (19005, 99)

,C3L-00104,C3L-00365,C3L-00674,C3L-00677,C3L-01040,C3L-01043,C3L-01045,C3L-01046,C3L-01048,C3L-01049,...,C3N-02788,C3N-03070,C3N-03088,C3N-03180,C3N-03182,C3N-03183,C3N-03184,C3N-03186,C3N-03188,C3N-03473
gene,,,,,,,,,,,,,,,,,,,,,
TRIM71,13.070059,9.518286,13.702388,14.521037,12.073692,12.712526,14.152008,10.626505,14.06541,13.519144,...,11.962445,14.609337,10.415282,11.265900,8.453759,14.058240,13.552994,12.347656,12.803100,16.164105
CCR4,10.729253,11.227898,11.968834,11.059925,11.921858,14.609594,11.458825,13.514839,9.56713,10.654866,...,12.434252,12.769124,11.293333,13.245036,13.260300,14.457275,8.915169,11.836360,11.244774,10.378961

In [14]:
hnscc_transcriptomics = pd.read_csv(file_hnscc_RNASeq, sep="\t", low_memory=False, index_col=0)
print('Dimensions: ', hnscc_transcriptomics.shape)
hnscc_transcriptomics[:2]

Dimensions:  (38456, 109)

,C3L-00977,C3L-00987,C3L-00994,C3L-00995,C3L-00997,C3L-00999,C3L-01138,C3L-01237,C3L-02617,C3L-02621,...,C3N-03933,C3N-04152,C3N-04273,C3N-04275,C3N-04276,C3N-04277,C3N-04278,C3N-04279,C3N-04280,C3N-04611
Idx,,,,,,,,,,,,,,,,,,,,,
A1BG,6.20,5.44,5.14,5.69,4.54,4.89,6.59,5.42,4.26,6.21,...,5.14,3.77,4.26,5.22,6.64,6.30,5.67,5.76,5.79,4.77
A1BG-AS1,6.79,6.63,6.31,6.06,5.14,5.76,6.74,5.38,5.42,5.90,...,6.31,4.75,5.41,5.26,6.80,7.03,7.02,6.14,6.23,5.92

In [15]:
combined_transcriptomics = pd.concat([ccrcc_transcriptomics, endo_transcriptomics, luad_transcriptomics, 
                                      brca_2020_transcriptomics, gbm_transcriptomics, 
                                      hnscc_transcriptomics, ovca_2020_transcriptomics, 
                                      lscc_transcriptomics, pdac_transcriptomics, 
                                      brca_2016_transcriptomics, ovca_2016_transcriptomics], axis=1)

print("Dimensions: ", combined_transcriptomics.shape)
combined_transcriptomics[:2]

Dimensions:  (42753, 2371)

,C3L-00004,C3L-00010,C3L-00011,C3L-00026,C3L-00079,C3L-00088,C3L-00096,C3L-00097,C3L-00103,C3L-00183,...,TCGA-61-2102,TCGA-61-2104,TCGA-61-2109,TCGA-61-2110,TCGA-61-2111,TCGA-61-2113,TCGA-OY-A56P,TCGA-OY-A56Q,TCGA-VG-A8LO,TCGA-WR-A838
A1BG,0.996632,0.747946,0.437812,1.825287,2.420942,1.080150,1.392151,1.042785,1.198064,1.064449,...,6.0157,6.646,5.299,7.1433,6.5806,6.1586,5.4651,5.1163,4.856,4.1051
A1CF,4.143869,4.144268,0.316847,4.116659,2.550644,3.873269,3.187020,2.470223,1.512692,2.866556,...,0.0000,0.000,0.000,1.5389,0.0000,0.0000,0.0000,0.0000,0.000,0.0000

#### Filtering the proteins and samples

In [16]:
# Restrict the data to contain only the protein-coding genes 
protein_coding_genes = pd.read_csv(file_protein_coding_genes, sep='\t')
protein_coding_genes = protein_coding_genes[(protein_coding_genes.status == 'Approved') & 
                                            (protein_coding_genes['Locus type'] == 'Gene with protein product')]['Symbol']
protein_coding_genes[:3]

0    A1BG
1    A1CF
2     A2M
Name: Symbol, dtype: object

In [17]:
cptac_samples = pd.read_parquet(file_cptac_samples_info)
cptac_samples[:2]

          Gender   Age  Study
C3L-00004   male  72.0  ccRCC
C3L-00010   male  30.0  ccRCC

In [18]:
common_protein_coding_genes = np.intersect1d(combined_transcriptomics.index, list(protein_coding_genes))
common_samples = np.intersect1d(combined_transcriptomics.columns, cptac_samples.index)
print("Common samples = {0} and common proteins = {1}".format(len(common_samples), len(common_protein_coding_genes)))
combined_transcriptomics = combined_transcriptomics.reindex(common_protein_coding_genes).reindex(common_samples, axis=1)
print("Dimensions of combined CPTAC proteomics database: ", combined_transcriptomics.shape)
combined_transcriptomics[:5]

Common samples = 1901 and common proteins = 18819
Dimensions of combined CPTAC proteomics database:  (18819, 1901)

,01OV007,01OV017,01OV018,01OV023,01OV026,01OV030,01OV039,01OV041,01OV047,02OV005,...,X20BR002,X20BR005,X20BR006,X20BR007,X20BR008,X21BR001,X21BR002,X21BR010,X22BR005,X22BR006
A1BG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2080,NaN,NaN,NaN,NaN,0.0983,NaN,-1.8883,-3.8105,-2.2787
A1CF,0.000000,0.000000,0.000000,0.004795,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A2M,6.413164,5.466066,6.294549,0.000000,7.258170,4.191326,5.482096,7.308011,4.409683,5.972824,...,1.2794,0.219,-0.0846,0.3941,0.6519,-0.2282,1.9485,0.4372,0.3754,1.1573
A2ML1,0.044405,0.175751,0.081482,0.407146,0.050614,0.153148,0.133531,0.011530,0.764525,0.276367,...,8.0776,4.859,3.9785,4.5282,-2.0069,-1.7158,-4.0180,NaN,1.7639,-2.3310
A3GALT2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,5.7008,NaN,NaN,NaN,NaN

In [19]:
combined_transcriptomics.to_parquet(get_tables_path('CPTAC_transcriptomics_linkedomics.parquet'))